//
// Chromatic Aberration
// --------------------------------------------------


// Base class
.chromatic-aberration.channel {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;

  &.red {
    color: rgba(219, 75, 75, 1);
  }

  &.blue {
    color: rgba(75, 186, 219, 1);
  }
}
