//
// Footer
// --------------------------------------------------


// Base styles
// -------------------------

footer {
  color: rgba($white, .14);

  a {
    color: rgba($white, .14);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      color: rgba($white, .14);
    }
  }
}
