//
// Footer
// --------------------------------------------------


// Base styles
// -------------------------

footer {
  @include clearfix;

  color: rgba($white, .14);
  font-weight: 300;
  position: relative;
  transform: translateY(-9px);
  transition: all 600ms cubic-bezier(.23, 1, .32, 1) !important;
  transition-property: margin, opacity, transform !important;

  &.slide-down {
    transform: translate3d(0, 0, 0);
  }

  h6 {
    font-size: $font-size-base;
    font-weight: 400;
    margin: 0;
  }

  a {
    color: rgba($white, .14);
  }
}

#contact {
  float: left;

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 9px;

    @media (min-width: $screen-lg-min) {
      margin-right: 18px;
    }

    transition: margin-right 600ms cubic-bezier(.23, 1, .32, 1);
  }
}

#colophon {
  float: right;
  right: 0;
  text-align: right;
  transition: all 600ms cubic-bezier(.23, 1, .32, 1);

  @media (max-width: $screen-xs-max) {
    opacity: 0;
    pointer-events: none;
  }
}
