//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

header > .container,
main.container,
footer > .container {
  padding-left: 32px !important;
  padding-right: 32px !important;

  @media (min-width: $screen-sm-min) {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }

  transition: all 600ms cubic-bezier(.23, 1, .32, 1);
}
