//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

header > .container,
footer > .container {
  padding-left: 32px !important;
  padding-right: 32px !important;
  transition: all 600ms cubic-bezier(.23, 1, .32, 1);

  @media (min-width: $screen-sm-min) {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
}
