//
// Scaffolding
// --------------------------------------------------


// Body reset

html {
  font-size: 18px;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-attachment: $body-bg-attachment;
  background-color: $body-bg-color;
  background-image: $body-bg-image;
  background-position: $body-bg-position;
  background-repeat: $body-bg-repeat;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  height: $body-height;
  line-height: $line-height-base;
  margin: 0;
  text-rendering: $text-rendering;
}

#grid {
  background-image: $grid-bg-image;
  background-repeat: $grid-bg-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.points {
    background-image: $grid-points-bg-image;
  }
}

main,
footer {
  margin: $main-margin;

  @media (max-width: $screen-xs-min) {
    margin: $main-margin / 2 !important;
  }
}

main {
  margin-bottom: $main-margin-bottom;
  min-height: $main-height;
  transition: $ease-out-quint-slow;
}

footer {
  margin-bottom: 0;
  padding-bottom: $main-margin;

  @media (max-width: $screen-xs-min) {
    margin-bottom: 0 !important;
    padding-bottom: $main-margin / 2 !important;
  }
}


// Links

a {
  color: $link-color;
  text-decoration: none;
  transition: $ease-out-quint-slow;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


// Abbreviations

abbr {
  font-size: smaller;
  font-variant: small-caps;
  text-decoration: uppercase;
}
