//
// Scaffolding
// --------------------------------------------------


// Highlighting

::selection {
  background: rgba($gold, .99);
  color: $black;
} 


// Body reset

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 32px;
  padding-top: 32px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  transition: all 600ms cubic-bezier(.23, 1, .32, 1);
}


// Sticky footer

#main {
  margin: 0 auto -58px;
  min-height: 100%;
}


// Links

a {
  transition: all 600ms cubic-bezier(.23, 1, .32, 1);

  &:focus {
    color: $link-color;
  }
}
