//
// Scaffolding
// --------------------------------------------------


// Body reset

::selection {
  background-color: rgba($gold, .99);
  color: $black;
} 

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: $body-bg-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-size: $font-size-base;
  margin: 0;
  min-height: 100vh;
}

#background,
#grid {
  height: 100%;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: -1;
}

#background {
  background-attachment: $body-bg-attachment;
  background-image: $body-bg-image;
  background-position: $body-bg-position;
  background-repeat: $body-bg-repeat;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#grid {
  background-image: $grid-bg-image;

  &.points {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    background-image: $grid-points-bg-image;
  }
}

main {
  display: flex;
  flex: 1;
  font-size: $font-size-large;
  margin: 64px;

  @media (max-width: $screen-xs-max) {
    margin: 36px;
  }

  transform: translate3d(0, 0, 0);
  transition: margin 600ms cubic-bezier(.23, 1, .32, 1);
}

.section-container {
  display: flex;
  flex: 1;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}


// Links

a {
  color: $link-color;
  text-decoration: none;
  transition: all 600ms cubic-bezier(.23, 1, .32, 1);

  &:hover/* ,
  &:focus */ {
    color: $link-hover-color;
    text-decoration: none;
  }
}


// Horizontal rules

hr {
  border: 0;
  border-top: 1px solid $hr-border;
  height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
