//
// Section
// --------------------------------------------------


// Base styles
// -------------------------

section {
  display: flex;
  flex-direction: column;

  &.fullscreen {
    box-sizing: border-box;
    height: $viewport-height !important;
    justify-content: center;
    left: 0;
    margin: $main-margin !important;
    padding-bottom: $footer-height;
    padding-top: $header-height;
    position: absolute;
    top: 0;
    width: $viewport-width;

    @media (max-width: $screen-xs-min) {
      height: $viewport-xs-height !important;
      margin: $main-margin / 2 !important;
      width: $viewport-xs-width;
    }
  }

  &:after {
    content: '';
    display: table;
    height: $footer-height;
  }
}

.call-to-action {
  border: 2px solid $white;
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  padding: 18px;

  &:hover {
    background-color: $gold;
    border-color: $gold;
    color: $black;
  }

  @media (max-width: $screen-xs-min) {
    font-size: 18px !important;
    padding: 9px !important;
  }
}
