//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr {
  font-size: smaller;
  font-variant: small-caps;
}
