*::selection {
	background: rgba(7, 7, 7, 1);
	color: rgba(240, 246, 248, 1);
}

html, body {
	height: 100%;
}

body {
	background-attachment: fixed;
	background-color: rgba(31, 35, 36, 1);
	background-image: url(../images/background.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(204, 216, 219, 1);
	font: 14px/18px "Proxima Nova",
					"Lucida Grande",
					"Lucida Sans Unicode",
					 Helvetica,
					 Arial,
					 Verdana,
					 sans-serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}

#grid {
	background-attachment: fixed;
	/* background-image: url(../images/grid.png); */
	background-image: url(../images/grid_point.png);
	background-position: center top;
	/* display: none; */
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;
}

#main {
	padding: 72px;
}

.image {
	color: rgba(0, 0, 0, 0);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

header .logo {
	background-image: url(../images/logo.svg);
	display: block;
	height: 36px;
	margin-bottom: 24px;
	width: 143px;
}

header nav {
	border-top: 1px solid rgba(204, 216, 219, 0.07);
	font-size: 0;
}

header nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ol li {
	display: inline-block;
	padding-top: 18px;
	position: relative;
	margin-right: 36px;
	top: -1px;
}

header nav ol li.active {
	border-top: 1px solid rgba(114, 102, 73, 1);
	opacity: 1;
}

header nav ol li.active a {
	opacity: 1;
}

a {
	color: inherit;
	font-size: 14px;
	text-decoration: none;
}

header nav a {
	opacity: 0.42;
}
