// bower:scss
// endbower

// Core variables
@import 'public/variables';

// Dependencies
@import 'public/font-stack';

// Core CSS
@import 'public/scaffolding';

// Components
@import 'public/header';
@import 'public/github-ribbons';
@import 'public/section';
@import 'public/footer';

h1 {
  font-weight: 200;

  .eyebrow,
  .large-block {
    display: block;
  }

  .eyebrow {
    font-size: 36px;
  }

  .large-block {
    font-size: 72px;
  }
}
