// bower:scss
// endbower

// Core variables and mixins
@import 'public/variables';

// Dependencies
@import 'public/font-stack';

// Core CSS
@import 'public/scaffolding';
@import 'public/type';

// Components
@import 'public/header';
@import 'public/footer';
@import 'public/call-to-action';

main {
  display: flex;
}

#main {
  align-items: center;

  h1 {
    font-weight: 300;
    margin: 0;

    + p {
      margin: 0;
      margin-top: 36px;
    }
  }

  .eyebrow,
  .large-block {
    display: block;
  }

  .eyebrow {
    font-size: 36px;
  }

  .large-block {
    font-size: 72px;
    font-weight: 100;
  }
}
