header .logo {
  /* background-image: url(../images/logo_planimeter.svg); */
  height: 25px;
  margin-top: 7px;
  margin-bottom: 28px;
  width: 244px;
}

#map {
  background-attachment: fixed;
  height: 100%;
  position: fixed !important;
  width: 100%;
  z-index: -2;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"] {
  display: none;
}

.gmnoscreen,
.gmnoprint {
  display: none;
}

/* Cloud Layer */
#map > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  opacity: 0.03;
}
