//
// Portfolio
// --------------------------------------------------


// Core variables
@import 'public/variables';


// Base styles
// -------------------------

#portfolio {
  align-items: center;

  // Headings
  // -------------------------

  h1 > small {
    font-weight: 100;
  }

  // Projects
  // -------------------------

  .lead > .eyebrow {
    color: $gold;
    display: block;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 24px;
    margin-top: 0;
    text-transform: uppercase;
  }

  .project {
    border-bottom: 1px solid rgba($white, .07);
    padding-bottom: 9px;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  h1,
  h4 {
    margin-top: 0;
  }
}
