//
// Portfolio
// --------------------------------------------------


// Core variables
@import 'public/variables';


// Base styles
// -------------------------

#portfolio {
  // Headings
  // -------------------------

  h1 > small {
    font-weight: 100;
  }

  .page-header {
    color: $gold;
  }

  // Filters
  // -------------------------

  .affix {
    width: 263px;
  }

  // Projects
  // -------------------------

  .lead {
    font-size: 18px;

    > .eyebrow {
      color: $gold;
      display: block;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 24px;
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  .badge {
    font-weight: 100;
    position: relative;
    top: -2px;
  }

  .project {
    border-bottom: 1px solid rgba($white, .07);
    padding-bottom: 9px;

    &:last-of-type {
      border-bottom: 0;
    }

    .label {
      margin-right: 1px;
      position: relative;
      top: -2px;

      + h4 {
        display: inline-block;
      }
    }
  }

  h1,
  h4 {
    margin-top: 0;
  }
}
