//
// Portfolio
// --------------------------------------------------


// Core variables
@import 'public/variables';


// Base styles
// -------------------------

#portfolio {
  transform: none;

  // Headings
  // -------------------------

  h1 > small {
    font-weight: 100;
  }

  .page-header {
    color: $gold;
  }

  // Filters
  // -------------------------

  .affix {
    padding-top: 64px;
    top: 0;
    width: 185px;

    @media (min-width: $screen-lg-min) {
      // width: 235px;
      // HACKHACK: What the fuck?
      width: calc(25% - 3 * 18px - 5px);
    }
  }

  // Projects
  // -------------------------

  .label-form {
    color: $gold;
    display: block;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: $line-height-computed;
    margin-top: 0;
    text-transform: uppercase;

    + * {
      margin-bottom: 24px;
    }
  }

  .project {
    border-bottom: 1px solid rgba($white, .07);
    padding-bottom: 9px;
    position: relative;

    &:last-of-type {
      border-bottom: 0;
    }

    .links {
      margin-top: 4.5px;
    }

    .language {
      font-weight: 600;
    }

    a {
      margin-left: 8px;
    }

    .label {
      margin-right: 1px;
      position: relative;
      top: -2px;
    }

    h4 {
      display: inline-block;
    }
  }

  h1,
  h4 {
    margin-top: 0;
  }
}
