//
// Variables
// --------------------------------------------------


//== Colors
//
//## Black, white and gold colors for use across public.

$white-base:             rgba(204, 216, 219, 1);
$white:                  $white-base;

$gold-base:              rgba(125, 114,  64, 1);
$gold:                   $gold-base;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background attachment for `<body>`.
$body-bg-attachment:    fixed;
//** Background color for `<body>`.
$body-bg-color:         rgba(31, 35, 36, 1);
//** Background image for `<body>`.
$body-bg-image:         url(../images/background.png);
//** Background position for `<body>`.
$body-bg-position:      center center;
//** Background repeat for `<body>`.
$body-bg-repeat:        no-repeat;
//** Global text color on `<body>`.
$text-color:            $white;
//** Global text rendering on `<body>`.
$text-rendering:        optimizeLegibility;

//** Background attachment for `#grid`.
$grid-bg-attachment:    fixed;
//** Background image for `#grid`.
$grid-bg-image:         url(../images/grid.png);
//** Background image for `#grid.points`.
$grid-points-bg-image:  url(../images/grid_point.png);
//** Background repeat for `grid`.
$grid-bg-repeat:        repeat;

//** Margin for `<main>`
$main-margin:           72px;

//** Global textual link color.
$link-color:            $white;
//** Link hover color set via `darken()` function.
$link-hover-color:      $gold;
//** Link hover decoration.
$link-hover-decoration: none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Proxima Nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          18px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.45; // 27/18
