//
// WIWO
// --------------------------------------------------


// Core variables
@import 'public/variables';


// Base styles
// -------------------------

#wiwo {
  align-items: center;

  // Main Container
  // -------------------------

  .main.container {
    padding-bottom: 0 !important;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 32px !important;
    }
  }

  // Section
  // -------------------------

  section {
    perspective: 1000px;

    @media (min-width: $screen-lg-min) {
      perspective: 3000px;
    }
  }

  // Heading
  // -------------------------

  .intro-heading {
    margin-bottom: 64px;
    padding-left: 0;
    padding-right: 0;
    perspective: 1000px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 96px;
    }

    @media (min-width: $screen-lg-min) {
      perspective: 3000px;
    }

    small {
      // display: block;
    }
  }

  p {
    margin-bottom: 0;
  }

  h1 {
    margin-top: 0;
  }

  // Projects
  // -------------------------

  .project-tile {
    border: 1px solid rgba($white, .07);
    border-bottom-width: 0;
    display: inline-flex;
    flex-direction: column;
    min-height: 260px;
    opacity: 0;
    padding: 32px;
    position: relative;
    top: calc(-32px - 1px);
    transition: all 600ms cubic-bezier(.23, 1, .32, 1);
    transition-property: background-color, width;

    &:hover {
      background-color: rgba($black, .97);
      color: $white;
    }

    &:last-of-type {
      border-bottom-width: 1px;
    }

    @media (min-width: $screen-sm-min) {
      border-right-width: 0;

      &:nth-of-type(odd) {
        border-right-width: 1px;
      }

      &:nth-last-of-type(2) {
        border-bottom-width: 1px;
      }
    }

    @media (min-width: $screen-md-min) {
      &:nth-of-type(odd) {
        border-right-width: 0;
      }

      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3),
      &:nth-last-of-type(4), {
        border-bottom-width: 1px;
      }

      &:nth-of-type(3n+5) {
        border-right-width: 1px;
      }
    }

    @media (min-width: $screen-lg-min) {
      min-height: 281px;
    }

    img {
      transition: all 600ms cubic-bezier(.23, 1, .32, 1);
    }
  }

  #planimeter img {
    height: 21px;
    width: 147px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 38px;
    }

    @media (min-width: $screen-lg-min) {
      margin-bottom: 59px;
      width: 197px;
    }
  }

  #vadventure img {
    height: 59px;
    width: 147px;

    @media (min-width: $screen-lg-min) {
      height: 80px;
      width: 197px;
    }
  }

  #grid img {
    height: 25px;
    width: 84.93px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 34px;
    }

    @media (min-width: $screen-lg-min) {
      height: 33px;
      margin-bottom: 47px;
      width: 112.12px;
    }
  }

  #axis img {
    height: 25px;
    width: 81.66px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 34px;
    }

    @media (min-width: $screen-lg-min) {
      height: 33px;
      margin-bottom: 47px;
      width: 107.80px;
    }
  }

  // Project Headings
  // -------------------------

  .callout-headline {
    color: $gold;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 36px;
    margin-top: 0;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(.23, 1, .32, 1);

    .label {
      position: relative;
      top: -1px;
    }
  }

  .callout-copy {
    margin-bottom: 0;
    margin-top: 36px;
  }

  .when,
  .what {
    display: block;
  }

  .when {
    font-size: $font-size-small;
    font-weight: 400;
  }

  .what {
    font-weight: 100;
  }
}
