<!DOCTYPE html>
<head>
  <title>Footer</title>
</head>
<body>
  <div id="contact">
    <h3>Contact</h3>
    <a href="skype:mcwattersandrew?chat">Skype</a>
    <a href="mailto:me@andrewmcwatters.com">Email</a>
    <a href="https://steamcommunity.com/id/andrewmcwatters">Steam</a>
    <a href="https://www.facebook.com/mcwattersandrew">Facebook</a>
  </div>
  <div id="colophon">
    <h3>&copy; 2014 Andrew Charles Parker McWatters</h3>
    Handcrafted. 1-½ <abbr title="Inch">in</abbr> margins. Typeset in Proxima Nova.
  </div>
</body>
