<!DOCTYPE html>
<head>
  <title>Footer</title>
</head>
<body>
  <div id="contact">
    <strong>Contact</strong>
    <a href="skype:mcwattersandrew?chat">Skype</a>
    <a href="mailto:me@andrewmcwatters.com">Email</a>
    <a href="https://steamcommunity.com/id/andrewmcwatters">Steam</a>
    <a href="https://www.facebook.com/mcwattersandrew">Facebook</a>
  </div>
  <div id="copyright">
    <strong>&copy; 2014 Andrew Charles Parker McWatters</strong>
    All trademarks are property of their respective owners in the US and
    other countries.
  </div>
</body>
