<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Footer</title>
  </head>
  <body>
    <div id="contact">
      <h6>
        Contact
      </h6>
      <ol>
        <li>
          <a href="skype:mcwattersandrew">Skype</a>
        </li>
        <li>
          <a href="mailto:me@andrewmcwatters.com">Email</a>
        </li>
        <li>
          <a href="https://steamcommunity.com/id/andrewmcwatters">Steam</a>
        </li>
        <li>
          <a href="https://www.facebook.com/mcwattersandrew">Facebook</a>
        </li>
      </ol>
    </div>
    <div id="colophon">
      <h6>
        &copy; 2014 Andrew Charles Parker McWatters
      </h6>
      <a href="https://github.com/andrewmcwatters/public">Handcrafted.</a>
      Typeset in Proxima Nova.
    </div>
  </body>
</html>
