<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <section class="about fade">
      <h1>
        <span class="eyebrow">Hello, world.</span>
        <span class="large-block">I’m a developer &amp; designer<br>
        in Phoenix.</span>
      </h1>
      <p class="lead">
        <a class="btn btn-lg btn-primary"
           href="https://github.com/andrewmcwatters">Follow me on GitHub</a>
      </p>
      <div class="row hidden-xs">
        <p class="col-sm-6">
          I have a mad, <em>obsessive</em> passion for game development,
          scripting language integration, user interface design, and web
          development.
        </p>
        <div class="vr"></div>
        <p class="col-sm-6">
          My current projects involve game design, large scale networking,
          and cross-platform development.<br>
          <a href="/wiwo">View my active works.</a>
        </p>
      </div>
    </section>
  </body>
</html>
