<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
  </head>
  <body>
    <section class="portfolio fade row">
      <div class="hidden-print hidden-xs hidden-sm col-md-3">
        <div data-spy="affix" data-offset-top="209" role="complementary">
          <p class="lead">
            <span class="eyebrow">Filter Works</span>
            <div class="list-group">
              <a href
                 class="list-group-item"
                 data-ng-click="filter(category)"
                 data-ng-repeat="category in categories"
                 data-ng-class="{
                   'active': activeFilter === category
                 }"
                 data-scroll-to="body">
                {{category}} <span class="badge">{{count(category)}}</span></a>
              </a>
            </div>
          </p>
          <p class="text-muted">
            The compliation of this portfolio is a work in
            progress. Works under NDAs, and some closed-source projects omitted.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-9" role="main">
        <h1>
          5 years of hacking, and pixel&nbsp;pushing.<br>
          <small><span data-odometer="projects.length"></span>+ projects and
          counting.</small>
        </h1>
        <div class="year" data-ng-repeat="year in years">
          <h2 class="page-header">
            {{year}}
          </h2>
          <div class="project" data-ng-repeat="project in results[year]">
            <div class="links hidden-print hidden-xs pull-right text-right">
              <!-- Language -->
              <span class="language text-primary">{{project.language}}</span>
              <!-- View Concept -->
              <a href="{{project.concept}}"
                 data-ng-if="project.concept"
                 data-toggle="tooltip"
                 data-placement="left"
                 title="View Concept">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true">
                </span>
              </a>
              <!-- Download -->
              <a href="/downloads/{{project.download}}"
                 data-ng-if="project.download"
                 data-toggle="tooltip"
                 data-placement="left"
                 title="Download"
                 target="_self">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true">
                </span>
              </a>
              <!-- View Repository -->
              <a href="/downloads/{{project.download}}"
                 data-ng-if="project.repository"
                 data-toggle="tooltip"
                 data-placement="left"
                 title="View Repository">
                <span class="glyphicon glyphicon-book" aria-hidden="true">
                </span>
              </a>
          </div>
            <h3>
              {{project.name}}
              <small data-ng-if="project.small"><em>{{project.small}}</em></small>
            </h3>
            <span class="label label-default">{{project.type}}</span>
            <h4 class="text-muted">
              for {{project.for}}
            </h4>
            <p>
              {{project.description}}
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
