<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WIWO</title>
  </head>
  <body>
    <section class="wiwo fade clearfix">
      <div class="intro-heading col-xs-12">
        <h1>
          Passion and drive.<br>
          Two boundless forces.<br>
          <small>
            Here’s where I put my energy—day in, and day out.
          </small>
        </h1>
      </div>
      <a href="{{project.href}}"
         class="project-tile col-xs-12 col-sm-6 col-md-3"
         data-ng-repeat="project in projects">
        <div id="{{project.id}}">
          <div class="callout-headline">
            {{project.type}}
            <span class="label label-primary" data-ng-if="project.new">New</span>
          </div>
          <img alt="{{project.name}}" data-ng-attr-src="{{project.logo}}">
          <div class="callout-copy">
            <span class="when">{{project.since}}–Present</span>
            <span class="what">{{project.what}}</span>
          </div>
          <span class="text-primary">Learn More</span>
        </div>
      </a>
    </section>
  </body>
</html>
