<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What I’m Working On</title>
    <!-- build:css(.tmp) styles/wiwo.css -->
    <!-- <link rel="stylesheet" href="styles/wiwo.css"> -->
    <!-- endbuild -->
  </head>
  <body>
    <section class="wiwo fade">
      <div class="row">
        <div class="intro-heading">
          <h1>
            Passion and drive.<br>
            Two boundless forces.
          </h1>
          <p class="intro">
            Here’s where I put my energy—day in, and day out.
          </p>
        </div>
        <a class="project-tile" href="/planimeter">
          <h6 class="callout-headline">
            Organization
          </h6>
          <img alt="Planimeter" src="images/project_logo_planimeter.svg" width="231">
          <p class="callout-copy">
            <span class="when">2014–Present</span>
            <span class="what">Development Team</span>
          </p>
        </a>
      </div>
      <div class="row">
        <a class="project-tile" href="/vadventure">
          <h6 class="callout-headline">
            Game
          </h6>
          <img alt="Vertex Adventure" src="images/project_logo_vadventure.svg" width="231">
          <p class="callout-copy">
            <span class="when">2013–Present</span>
            <span class="what"><abbr title="Two-Dimensional">2D</abbr> Fantasy
            <abbr title="Massively multiplayer online role-playing game">MMORPG</abbr></span>
          </p>
        </a>
        <a class="project-tile" href="/grid">
          <h6 class="callout-headline">
            Engine
          </h6>
          <img alt="Grid" src="images/project_logo_grid.svg" width="133">
          <p class="callout-copy">
            <span class="when">2013–Present</span>
            <span class="what"><abbr title="Two-Dimensional">2D</abbr> Game
            Engine</span>
          </p>
        </a>
        <a class="project-tile" href="/axis">
          <h6 class="callout-headline">
            Platform
          </h6>
          <img alt="Axis" src="images/project_logo_axis.svg" width="128">
          <p class="callout-copy">
            <span class="when">2013–Present</span>
            <span class="what">Account Management System</span>
          </p>
        </a>
      </div>
    </section>
  </body>
</html>
